<main class="container justify-content-center">

  <div
    class="container rounded-md bg-violet-400 text-white flex-row mx-auto py-5 px-5 justify-content-center"
  >
    <h1 class="text-6xl text-pink-400  font-extrabold">Console Blog</h1>
    <h3 class="text-4xl">Where Developers develop their development skills</h3>
    <h3 class="text-4xl">by helping developing Developers develop</h3>
  </div>

  {{#each posts as |post|}}
    <div
      class="container mx-auto d-flex w-4/5 justify-center border-1 border-violet-400 rounded-md bg-cyan-400 px-5 my-5"
    >
      <div class="card mb-4 bg-dark justify-center" style="width: 100%;">
        <div class="py-3 bg-dark"></div>
        <div class="card-body justify-center bg-dark">
          <div class="small text-muted d-flex justify-between">
            <div>
              <span class="text-xs">{{post.createdAt}}</span>
            </div>
            <div class="d-flex align-items-center">
              <span class="text-xl font-bold text-violet-700">By: {{post.user.username}}</span>
            </div>
          </div>
          <h2 class="card-title text-2xl text-zinc-900 font-bold">{{title}}</h2>
          <hr class="my-2" />
          <p class="card-text text-lg">{{postText}}</p>
          <hr class="my-2" />
          {{#each post.comments as |comment|}}
          <h2 class="showComment text-lg" id="addComment{{post.id}}">
          {{comment.commentText}}
          </h2>
            
            
  {{/each}}

  {{#if ../logged_in}}
              
          <h2><button data-id="addComment{{post.id}}" class="comment px-4 py-3 bg-violet-400 hover:bg-pink-400 font-semibold leading-6 rounded-md" id="comment">Comment</button></h2>

      <form data-id="{{post.id}}" class="addComment hidden form-example rounded-md bg-cyan-400" id="addComment{{post.id}}">
        <div class="form-example text-xl px-4 py-4">
            <label for="post-body">Enter your Comment: </label><br />
            <textarea
              class="bg-cyan-100 border-cyan-900 border-4 mx-3 my-3 h-52 w-5/6 rounded-md indent-6 justify-center"
              placeholder="Type your comment..."
              type="text"
              name="post-body"
              id="commentContent"></textarea>
              </textarea>
              </div>
              <div class="form-example">
              <input
              data-id="{{post.id}}"
              class="bg-pink-400 py-5 px-5 mx-2 my-2 rounded-xl w-40"
              id="postCommentButton"
              type="submit"
              value="Submit Comment"
              />
        </div>
      </form>  
  {{else}}

              <a href="/login" class="px-4 py-3 bg-cyan-400 block hover:bg-cyan-700">Login to post or comment</a>
              
  {{/if}}
          <div>
            
            
          </div>
        </div>
      </div>
    </div>
  {{/each}}



  <script src="/js/makeComment.js"></script>
</main>
